{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="max-w-md w-full bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4 text-center">Sign In Via Google</h1>
    <p class="text-center mb-6">You are about to sign in using a third-party account from Google.</p>
    <form method="post" action=""> <input type="hidden" name="csrfmiddlewaretoken"
            value="sF5sMmwSSkz17MmK32uplRnoAT9k3aurTIuFr3l8kL9CmrfNb6GpqWIAjMr4GVaH"> <button type="submit"
            class="w-full bg-blue-600 text-white p-3 rounded-md text-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Continue</button>
    </form>
</div>
{% endblock %}