{% extends 'layouts/base.html' %}


{% block title %}
Home
{{ block.super }}
{% endblock title %}

{% block content %}
<div class="max-w-md  bg-white p-6 rounded-lg shadow-md ">
    <h2 class="text-lg font-bold mb-4">Welcome to the Django All-Auth Starter</h2>
    <p class="mb-6">This project is a pre-configured Django project with all the authentication features you need to get
        started. It includes Google login, Facebook login, GitHub login, password reset, sign up, sign in, sign out, and
        email verification.</p>
    <a href="{% url 'account_signup' %}"
        class="w-full bg-blue-600 text-white p-3 rounded-md text-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Create
        an Account</a>
</div>
<div class="max-w-md  bg-white p-6 rounded-lg shadow-md ">
    <h2 class="text-lg font-bold mb-4">Welcome to the Django All-Auth Starter</h2>
    <p class="mb-6">This project is a pre-configured Django project with all the authentication features you need to get
        started. It includes Google login, Facebook login, GitHub login, password reset, sign up, sign in, sign out, and
        email verification.</p>
    <a href="{% url 'account_signup' %}"
        class="w-full bg-blue-600 text-white p-3 rounded-md text-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Create
        an Account</a>
</div>
<div class="max-w-md  bg-white p-6 rounded-lg shadow-md ">
    <h2 class="text-lg font-bold mb-4">Welcome to the Django All-Auth Starter</h2>
    <p class="mb-6">This project is a pre-configured Django project with all the authentication features you need to get
        started. It includes Google login, Facebook login, GitHub login, password reset, sign up, sign in, sign out, and
        email verification.</p>
    <a href="{% url 'account_signup' %}"
        class="w-full bg-blue-600 text-white p-3 rounded-md text-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Create
        an Account</a>
</div>
<div class="max-w-md  bg-white p-6 rounded-lg shadow-md ">
    <h2 class="text-lg font-bold mb-4">Welcome to the Django All-Auth Starter</h2>
    <p class="mb-6">This project is a pre-configured Django project with all the authentication features you need to get
        started. It includes Google login, Facebook login, GitHub login, password reset, sign up, sign in, sign out, and
        email verification.</p>
    <a href="{% url 'account_signup' %}"
        class="w-full bg-blue-600 text-white p-3 rounded-md text-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Create
        an Account</a>
</div>
<div class="max-w-md  bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Welcome to the Django All-Auth Starter</h2>
    <p class="mb-6">This project is a pre-configured Django project with all the authentication features you need to get
        started. It includes Google login, Facebook login, GitHub login, password reset, sign up, sign in, sign out, and
        email verification.</p>
    <a href="{% url 'account_signup' %}"
        class="w-full bg-blue-600 text-white p-3 rounded-md text-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Create
        an Account</a>
</div>
<div class="max-w-md  bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Welcome to the Django All-Auth Starter</h2>
    <p class="mb-6">This project is a pre-configured Django project with all the authentication features you need to get
        started. It includes Google login, Facebook login, GitHub login, password reset, sign up, sign in, sign out, and
        email verification.</p>
    <a href="{% url 'account_signup' %}"
        class="w-full bg-blue-600 text-white p-3 rounded-md text-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Create
        an Account</a>
</div>
<div class="max-w-md  bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-lg font-bold mb-4">Welcome to the Django All-Auth Starter</h2>
    <p class="mb-6">This project is a pre-configured Django project with all the authentication features you need to get
        started. It includes Google login, Facebook login, GitHub login, password reset, sign up, sign in, sign out, and
        email verification.</p>
    <a href="{% url 'account_signup' %}"
        class="w-full bg-blue-600 text-white p-3 rounded-md text-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Create
        an Account</a>
</div>
{% endblock content %}